@{
    ViewData["Title"] = "ContactsList";
}
@model List<ContactsApp.BLL.Models.Contact>;

<h1 class="modal-header">Список контактов</h1>
<div>
    <div align="left">
        <a type="s" class="btn btn-sm btn-primary" asp-action="AddCountact">Добавить контанкт</a>
    </div>
</div>


