<h1>Список контанктов</h1>
<div class="grid-lable">
    <div class="contact-style table-list">
        <div class="table-scroll">
        <table class="table">
            <thead>
                <tr>
                    <td></td>
                    <td><h3>Контакты</h3></td>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let c of contacts" 
                (click)="editContact(c)">
                    <ng-template [ngIf]="contacts?.id != c.id">
                        <td>{{::c?.id}}</td>  
                        <td>{{::c?.name}} {{::c?.surname}}</td>
                    </ng-template>
                </tr>
            </tbody>
        </table>
    </div>
    </div>
    <div class="contact-style table-questionnaire">
        <div class="form-group">
            <label>Имя</label>
            <input type="text" [(ngModel)]="contact.name" class="form-control" required />
        </div>
        <div class="form-group">
            <label>Фамилия</label>
            <input type="text" [(ngModel)]="contact.surname" class="form-control" required />
        </div>
        <div class="form-group">
            <label>День рождения</label>
            <input type="date" [(ngModel)]="contact.birthday" class="form-control" required/>
        </div>
        <div class="form-group">
            <label>Номер телефона</label>
            <input type="text" [(ngModel)]="contact.phone" class="form-control" required/>
        </div>
        <div class="form-group">
            <label>Email</label>
            <input type="text" [(ngModel)]="contact.email" class="form-control" />
        </div>
        <div class="form-group">
            <label>Ссылка Vk</label>
            <input type="text" [(ngModel)]="contact.vk" class="form-control" />
        </div>
        <div>
            <input type="button" value="Сохранить" (click)="save()" class="btn btn-success grid-button" />
            <input type="button" value="Очистить" (click)="cancel()" class="btn btn-warning grid-button" />
            <input type="button" value="Удалить" (click)="delete()" class="btn btn-danger grid-button" />
        </div>
    </div>
</div>