<h1>Список контанктов</h1>
<div class="grid-lable">
    <div class="contact-style table-list">
        <div class="table-scroll">
        <table class="table">
            <thead>
                <tr>
                    <td></td>
                    <td><h3>Контакты</h3></td>
                </tr>
            </thead>
            <tbody class="tbody">
                <tr *ngFor="let c of contacts"
                (click)="editContact(c)">
                        <td>{{c?.id}}</td>  
                        <td>{{c?.name}} {{c?.surname}}</td>
                </tr>
            </tbody>
            <button (click)="openModal('edit-modal')">Open Modal 1</button>
        </table>
    </div>
    </div>
    
    <div class="contact-style table-questionnaire">
        <table class="table">
            <tbody>
            <tr>
            <div class="form-group grid-questionnaire-tr">    
                    <td>
                    <label>Имя</label>
                    <input 
                        type="text" 
                        [(ngModel)]="contact.name" 
                        class="form-control" 
                        name="name" 
                        #name="ngModel" 
                        required/>
                    </td>
                    <td>
                    <label></label>
                    <div [hidden]="name.valid || name.untouched || name.pristine" class="alert alert-danger questionnaire-td">
                        Обязательное для заполнения
                    </div>
                    </td>
            </div>
            </tr>

            <tr>
                <div class="form-group grid-questionnaire-tr">
                    <td>
                        <label>Фамилия</label>
                        <input 
                            type="text" 
                            [(ngModel)]="contact.surname" 
                            class="form-control" 
                            name="surname" 
                            #surname="ngModel" 
                            required />
                    </td>
                    <td>
                        <label></label>
                        <div [hidden]="surname.valid || surname.untouched || surname.pristine" class="alert alert-danger questionnaire-td">
                            Обязательное для заполнения
                        </div>
                    </td>
                </div>
            </tr>

            <tr>
                <div class="form-group grid-questionnaire-tr">
                    <td>
                    <label>День рождения</label>
                    <input 
                        type="date" 
                        [ngModel]="contact.birthday | date:'yyyy-MM-dd'" 
                        (ngModelChange)="contact.birthday = $event" 
                        class="form-control" 
                        name="date" 
                        #date="ngModel" 
                        required/>
                    </td>
                    <td>
                        <label></label>
                        <div [hidden]="date.valid || date.untouched || date.pristine" class="alert alert-danger questionnaire-td">
                            Обязательное для заполнения
                        </div>
                    </td>
                </div>
            </tr>
            <tr>
                <div class="form-group grid-questionnaire-tr">
                    <td>
                        <label>Номер телефона</label>
                        <input 
                            type="text" 
                            [(ngModel)]="contact.phone" 
                            class="form-control" 
                            name="phone" 
                            #phone="ngModel" 
                            required 
                            pattern="[0-9]{11}"/>
                    </td>
                    <td>
                        <label></label>
                        <div [hidden]="phone.valid || phone.untouched || phone.pristine" class="alert alert-danger questionnaire-td">
                            Неверный формат
                        </div>
                    </td>
                </div>
            </tr>

            <tr>
                <div class="form-group grid-questionnaire-tr">
                    <td>
                        <label>Email</label>
                        <input 
                            type="email" 
                            [(ngModel)]="contact.email" 
                            class="form-control" 
                            #email="ngModel" 
                            email/>
                    </td>
                    <td>
                        <label></label>
                        <div [hidden]="email.valid || email.untouched || email.pristine" class="alert alert-danger questionnaire-td">
                            Неверный формат
                        </div>
                    </td>
                </div>
            </tr>

            <tr>
                <div class="form-group grid-questionnaire-tr">
                    <td>
                        <label>Ссылка Vk</label>
                        <input 
                            type="text" 
                            [(ngModel)]="contact.vk" 
                            class="form-control" />
                    </td>
                    <td>
                        <label></label>
                        <div></div>
                    </td>
                </div>
            </tr>

            <tr>
                <div>
                    <input type="button" value="Сохранить" (click)="save()" class="btn btn-success grid-button" />
                    <input type="button" value="Очистить" (click)="cancel()" class="btn btn-warning grid-button" />
                    <input type="button" value="Удалить" (click)="delete()" class="btn btn-danger grid-button" />
                </div>
            <tr>
            </tbody>
    </table>
    </div>
</div>