h1 {
    margin-left: 3%;
    margin-right: 3%;
}

.grid-lable {
    /* padding: 2%; */
    display: grid;
    grid-template-columns:  repeat(6, 1fr);
    grid-gap: 10px;
    /* grid-auto-columns: 400px; */
    grid-template-areas:
    "a a a b b b"
    "a a a b b b";
}

.grid-questionnaire-tr {    
    display: grid;
    /* grid-template-columns: 3fr 2fr; */
}

table {
    padding: 3%;
    width: 100%;
}

.modal-table {
    padding: 1%;
    width: 100%;
}

.contact-style {
    /* margin-left: 5px;
    margin-right: 5px; */
    padding: 3%;
    border: 2px solid black;
    border-radius: 20px 20px 20px 20px;
}

.grid-button {
    margin-left: 2px;
    margin-right: 2px;
}

.table-list {
    max-width: 400px;
    max-height: 600px;
    grid-area: a;
    /* align-self: center; */
    justify-self: end;
}

.table-questionnaire {
    width: 400px;
    height: 600px;
    grid-area: b;
    /* align-self: center; */
    justify-self: start;
}

.table-scroll {
    overflow-y: auto; 
    max-height: 450px;
  }


.questionnaire-td {
    margin-left: 5px;
    margin-right: 5px;
}

tbody {
    overflow-y: scroll;
    /* overflow-y: auto; 
    max-height: 560px; */
}

.alert {
    margin-bottom: 1px;
    height: 30px;
    line-height:30px;
    padding:0px 15px;
  }

input.ng-touched.ng-invalid.ng-dirty {border:solid rgb(218, 73, 73) 2px;}

.modal {
    display: block;
    overflow-y: auto;
}
.center {
    text-align: center;
}
 /* this holds the CSS display of the modal */
.mmodal {
    /* // makes it hover above all elements */
    z-index: 1000;
    position: fixed;
    top: 20px;
    bottom: 20px;
    margin: auto;
    width: 400px;
}
.mmodal-body {
    background: #fff;
    /* margin: 20px; */
    border-radius: 20px 20px 20px 20px;
    border: 3px solid black;
}

.modal-questionnaire-tr {    
    display: grid;
}

/* // backdrop color */
.mmodal-background {
    /* // should be below the .modal but above all other elements */
    z-index: 900;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: #000;
    opacity: 0.95;
}

.div-scroll {
    overflow-y: visible;
}